<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>

<div class="container">
  <div class="row mt-5">
    <% @list.movies.each do |movie| %>
      <div class="col-4">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
          <%= movie.title %>
          <div class="card-tags">
          <% @list.bookmarks.each do |bookmark| %>
          <%= link_to "delete", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "card-remove-link" %>
            <span><%= bookmark.comment %></span>
          <% end %>
          <%= link_to "+", new_list_bookmark_path(@list) %>
        </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row my-5 justify-content-center">
    <div class="col-4">
      <h4>Add a bookmark</h4>
      <%= simple_form_for [@list, @bookmark] do |f| %>x
        <%= f.input :comment, placeholder: "Bookmark comment" %>
        <%= f.association :movie, placeholder: "select a movie" %>
        <%= f.submit "Add", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
